@use '../../../styles/variables' as *;

.header {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $breakpoint-lg;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 60px;
}

.linksContainer {
  display: flex;
  gap: 24px;
}

.link {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
  &:first-of-type {
    font-weight: 500;
  }
  &.hideOnMobile {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}

.hamburger {
  display: none;
  margin-left: auto;
  margin-right: -16px;
  @media (max-width: $breakpoint-md) {
    display: block;
  }
}

.drawer {
  display: none;
  &.show {
    display: flex;
  }
  // never display on desktop
  @media (min-width: $breakpoint-lg) {
    display: none !important;
  }

  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: $breakpoint-lg;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 24px;
  padding-bottom: 24px;
}
