@use '../../../styles/variables' as *;

.header {
  top: 0;
  position: sticky;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $breakpoint-lg;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 60px;
}

.linksContainer {
  display: flex;
  gap: 24px;
}

.link {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    color: $color-primary;
  }
  &:first-of-type {
    font-weight: 500;
  }
  @media (max-width: $breakpoint-md) {
    &:not(:first-of-type) {
      display: none;
    }
  }
}

.hamburger {
  display: none;
  margin-left: auto;
  margin-right: -16px;
  @media (max-width: $breakpoint-md) {
    display: block;
  }
}
